@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-mauve.theme.css");

:root {
    --font-display: 'Fredoka';
    --font-primary: 'Fredoka';
    --font-code: 'JetBrains Mono';
}
